# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.w1d1.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\jsb\Dropbox\Teaching\2208\CSCI.251\src\Module 01\w1d1\.idea\.idea.w1d1.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
